*{box-sizing: border-box;}

.row{
	margin: 0;
	padding: 0;
}
ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
	display: inline-block;
	color: white;
}

body{
    max-width: 2000px;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.card-img-top{
width: 100%;
display: flex;
}

.card-text{
	font-size: 1.5em;
}

.container{
  padding: 0;
  margin: auto;
	max-width: 2000px;
	width: 100%;

}

.navbar{
	width: 100%;
  background-color:  #8b7e80;
}
.btn-menu{
  margin-left: 15px;
  padding: 10px;
  background-color: #18BC9C;
  font-size: 1.5em;
}

.n-link{
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
	margin-left: 10px;
}
.nav-item{
  margin: 10px 15px;
}

.card{
  margin: 10px 0px;
  border: none;
	padding-top: 20px;
}

.row{
padding: 50px 20px 30px 20px;
}

.modal .form-control{
	margin-bottom: 15px;
	border:none;
	border-bottom: 1px solid #8b7e80;
}
.btn-primary{
	background-color: rgb(117, 205, 187);
	color: white;
	border: 1px solid rgb(117, 205, 187);
}

.btn-secondary{
	border: 1px solid #8b7e80;
	background-color: #8b7e80;
}

.btn-outline-success{
	background-color: rgb(117, 205, 187);
	color: white;
	border: 1px solid rgb(117, 205, 187);
}
.icono{
  width: 40px;
  height: 40px;
  margin: 2px;
  color: white;
  background-color: rgb(117, 205, 187);
  font-size:1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid white;
}

.main-footer{
	background-color: #8b7e80;
	border-radius: 15px 15px 0 0;
	margin-top: 40px;
	font-size: 1.5em;
  padding: 0;
	width: 100%;
}

.main-footer a{
	display: block;
	font-size: 1.5em;
	color: white;
	padding: 10px;
	text-align: center;
	border-bottom: solid 1px white;
}
