*{box-sizing: border-box;}

.row{
	margin: 0;
	padding: 0;
}
ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
	display: inline-block;
	color: white;
}

body{
    max-width: 1900px;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

/* CARDS */

.card-img-top{
width: 100%;
display: flex;
}

.card-text{
	font-size: 0.8em;
}

.card-title{
	font-size: 1.5em;
}

.container{
  padding: 0;
  margin: auto;
	max-width: 1200px;
	text-align: center;

}
.card{
  margin: 10px 0px;
  border: none;
	padding-top: 20px;
}

/* MODAL */
.modal .form-control{
	margin-bottom: 15px;
	border:none;
	border-bottom: 1px solid #8b7e80;
}

/* BOTONES */

.btn-primary{
	background-color: rgb(117, 205, 187);
	color: white !important;
	border: 1px solid rgb(117, 205, 187) !important;
}

.btn-secondary{
	border: 1px solid #8b7e80;
	background-color: #8b7e80;
	color: white;
}

.btn-outline-success{
	background-color: rgb(117, 205, 187);
	color: white;
	border: 1px solid rgb(117, 205, 187);
}
/* JUMBOTRON */
.jumbotron{
	margin-top: 20px;
	background-size:cover;
 	background-image: url(../fiesta.jpg);
}

/* FAQ */

.card-body{
	font-size: 1.5rem;
}

.faq-btn{
	font-size: 1.5rem;
	/* la propiedad white-space:normal hace que el texto del boton se auto ajuste. si es muy largo queda en 2 lineas*/
	white-space: normal;

}

/* QUIENES SOMOS */

.grisado{
	color: #AAA;
}

.card{
	border: none;
	margin: 0 auto;
	padding-top: 0px;
};

/* MELI */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');

html, body {
  height: 100%;
  background: #FFF;
  text-align: center;
  font-size: 1.15em/1 'Open Sans' , sans-serif;
  color: #FFF;
}
.wrapper{
  background-color: #F5F5F5;
  height: 100%;
}
#header {
  background-color: #AFDED4;
}
.logo {
  padding: 2%;
}
img {
  max-width: 100%;
}


/* FOOTER */
.social {
  list-style-type: none;
}
.social li{
  display: inline;
}
.social i{
  font-size: 3em;
  margin: 1%;
  padding: 5%;
  color: #FFF;
}
.social i:hover{
  color: #F6931E;
}
p{
  padding: 2%;
}
